@using BlazorMonaco.Editor
@using ProgrammerAl.SvgHelpers.Components.AnimatedComponents

<div class="flex">
    @*     <p>File Url: </p>
    <input type="text" @bind="EnteredImageUrl"
    class="border border-black min-w-16 py-2 px-4" />
    *@
    <InputFile OnChange="@SingleUploadAsync" accept=".svg" />

</div>


@* @if (!string.IsNullOrWhiteSpace(ImageDataUrl)) *@
@if(!string.IsNullOrWhiteSpace(SvgHtml.Value))
{
    <div>
        <p>Image at: @(ImageFile!.Name))</p>
        <p>Last update time: @(LastImageRefreshTime) </p>
        @* <img src="@($"{ImageUrl}?unique={DateTime.Now.ToString("yyyy-MM-dd-HH:mm:ss")}")" /> *@
        @* <img src="@ImageDataUrl" /> *@
        @SvgHtml
    </div>
}
